<ion-header>
  <ion-toolbar>
    <ion-title>
      編輯資料
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-item>
        <ion-label>名稱</ion-label>
        <ion-input placeholder="enter title" type="text" [(ngModel)]="modifyData.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>標籤</ion-label>
        <ion-select [(ngModel)]="selectedTag" (ionChange)="selectedOptionAction()" multiple="true">
            <ion-select-option *ngFor="let tag of options">{{tag.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>內容</ion-label>
        <ion-textarea rows="5" placeholder="enter description" type="text" [(ngModel)]="modifyData.description"></ion-textarea>
    </ion-item>

    <ion-button expand="block"(click)="saveAction()">編輯</ion-button>
    <ion-button expand="block" color="danger" (click)="dismiss()">取消</ion-button>
</ion-content>