<ion-app>
    <!--<h1>yinchang</h1>-->
    <ion-router-outlet></ion-router-outlet>
    <!-- 注意結構 -->
    <!--<ion-header>
        <ion-toolbar>
            <ion-title>
                YinChang
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-label>Checkbox</ion-label>
                <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
        </ion-list>
        <ion-item>
            <p>中文要UTF-8</p>
        </ion-item>
        <ion-button expand="full" (click)="openModal()">滿版Button</ion-button>

    </ion-content>-->

</ion-app>
