<ion-header>
  <ion-toolbar>
    <ion-title>
      BLE TEST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    <ion-list>
      <ion-list-header>
        <ion-label>BLE Deveice List</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of datas;let i = index">
          <ion-text >
              <p><span *ngIf="item.isEmmaDevice">EmmaDevice</span> #{{i+1}}-{{item.id}} </p>
              <p>RSSI : {{item.rssi}}</p>
              <p>{{item.timestamp | date: 'yyyy-MM-dd HH:mm:ss'}}</p> 
            </ion-text>
            
        </ion-item>
    </ion-list>
  </div>
</ion-content>
