<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank(HomePage)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        The world is your oyster.
        <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    </div>
    <ion-list>
        <ion-list-header>
            <ion-label>第一大題</ion-label>

        </ion-list-header>
        <ion-item *ngFor="let data of datas">
            <ion-label>{{data.title}}</ion-label>
            <ion-textarea [(ngModel)]="data.answer" placeholder="Enter more information here..."></ion-textarea>
        </ion-item>
    </ion-list>
    <ion-button (click)="submitAction()">提交</ion-button>
    <ion-button (click)="submitTest()">Test</ion-button>
    <ion-button (click)="AddQuestion()">Add Question</ion-button>


</ion-content>
